<div id="question_list"></div>

<script type="text/x-handlebars-template" id="question_list_template">
  {{#each question}}
    <h2>{{ title }}</h2>
    <p>{{ content }}</p>
    <p>{{ vote_total }}</p>
  {{/each}}
</script>